<h1>一覧</h1>

<table border=1>
  <tr>
    <th><%= I18n.t("activerecord.attributes.pillar_relation.name") %></th>
    <th></th>
    <th></th>
  </tr>

<% @pillar_relations.each do |pillar_relation| %>
  <tr>
    <td class="mr10"><%= link_to pillar_relation.name, pillar_relation  %></td>
    <td class="mr10"><%= link_to 'Edit', edit_pillar_relation_path(pillar_relation) %></td>
    <td class="mr10"><%= link_to 'Destroy', pillar_relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New PiilarRelation', new_pillar_relation_path %>

<br>
<br>
<% @pillar_relations.each do |pillar_relation| %>
    <%= pillar_relation.name  %>,<%= pillar_relation.method_define  %><br>
<% end %>

<br>
<br>
<% @pillar_relations.each do |pillar_relation| %>
    <% pillar_relation.pillar_relation_pillars.each do |relation| %>
        <%= relation.pillar_relation_id  %>,<%= relation.base_pillar  %>,<%= relation.target_pillar  %>,<%= relation.target2_pillar  %><br>
    <% end %>
<% end %>
