<%- model_class = PillarRelation -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:name) %>:</dt>
  <dd><%= @pillar_relation.name %></dd>
  <dt><%= model_class.human_attribute_name(:method_define) %>:</dt>
  <dd><%= @pillar_relation.method_define %></dd>
</dl>

<% pillar_groups = @pillar_relation.pillar_relation_pillars.by_group %>
<table border=1>
  <%= raw display_pillar_table_header %>
  <%= raw display_pillar_table(pillar_groups){ |pillar, group| "<td>#{ "○" if group[:value] }</td>"} %>
</table>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pillar_relation_path(@pillar_relation), :class => 'btn' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pillar_relations_path, :class => 'btn' %>
</div>