  <table>
    <%= raw display_pillar_relation(meishiki, "taikyoku_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.taikyoku_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "tenotsu_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.tenotsu_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "tenkan_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.tenkan_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "tenhuku_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.tenhuku_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "anroku?", I18n.t("activerecord.attributes.meishiki_pillar.day.anroku"))%>

    <%= raw display_pillar_relation(meishiki, "kanroku?", I18n.t("activerecord.attributes.meishiki_pillar.day.kanroku"))%>

    <%= raw display_pillar_relation(meishiki, "fukigakudo?", I18n.t("activerecord.attributes.meishiki_pillar.day.fukigakudo"))%>

    <%= raw display_pillar_relation(meishiki, "tenchukijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.tenchukijin"))%>

    <%= raw display_pillar_relation(meishiki, "kinyoroku?", I18n.t("activerecord.attributes.meishiki_pillar.day.kinyoroku"))%>

    <%= raw display_pillar_relation(meishiki, "gakushi?", I18n.t("activerecord.attributes.meishiki_pillar.day.gakushi"))%>

    <%= raw display_pillar_relation(meishiki, "kyoroku?", I18n.t("activerecord.attributes.meishiki_pillar.day.kyoroku"))%>

    <%= raw display_pillar_relation(meishiki, "youjin?", I18n.t("activerecord.attributes.meishiki_pillar.day.youjin"))%>

    <%= raw display_pillar_relation(meishiki, "hijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.hijin"))%>

    <%= raw display_pillar_relation(meishiki, "kouen?", I18n.t("activerecord.attributes.meishiki_pillar.day.kouen"))%>

    <%= raw display_pillar_relation(meishiki, "ryuka?", I18n.t("activerecord.attributes.meishiki_pillar.day.ryuka"))%>

    <%= raw display_pillar_relation(meishiki, "fukusei_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.fukusei_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "bunsei_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.day.bunsei_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "setsudojin?", I18n.t("activerecord.attributes.meishiki_pillar.day.setsudojin"))%>

    <%= raw display_pillar_relation(meishiki, "tenzai?", I18n.t("activerecord.attributes.meishiki_pillar.day.tenzai"))%>

  </table>