  <table>
    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.kangou") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "kangou?")%>


    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.shigou") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "shigou?")%>

    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.sangou") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "sangou?")%>

    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.kei") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "kei?")%>

    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.chu") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "chu?")%>

    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.ha") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "ha?")%>

    <tr>
      <th><%= I18n.t("activerecord.attributes.meishiki_pillar.gai") %></th>
    </tr>

    <%= raw display_two_pillar_relation(meishiki, "gai?")%>1
  </table>