  <table>
    <%= raw display_month_pillar_relation(meishiki, "tentoku_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.tentoku_kijin"))%>

    <%= raw display_month_pillar_relation(meishiki, "tentoku_gou?", I18n.t("activerecord.attributes.meishiki_pillar.tentoku_gou"))%>

    <%= raw display_month_pillar_relation(meishiki, "gettoku_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.gettoku_kijin"))%>

    <%= raw display_month_pillar_relation(meishiki, "gettoku_gou?", I18n.t("activerecord.attributes.meishiki_pillar.gettoku_gou"))%>

    <%= raw display_month_pillar_relation(meishiki, "kagai?", I18n.t("activerecord.attributes.meishiki_pillar.kagai"))%>

    <%= raw display_month_pillar_relation(meishiki, "tenmou?", I18n.t("activerecord.attributes.meishiki_pillar.tenmou"))%>

    <%= raw display_month_pillar_relation(meishiki, "chimou?", I18n.t("activerecord.attributes.meishiki_pillar.chimou"))%>

    <%= raw display_month_pillar_relation(meishiki, "byakui?", I18n.t("activerecord.attributes.meishiki_pillar.byakui"))%>

    <%= raw display_month_pillar_relation(meishiki, "kessi?", I18n.t("activerecord.attributes.meishiki_pillar.kessi"))%>

    <%= raw display_month_pillar_relation(meishiki, "dankyo?", I18n.t("activerecord.attributes.meishiki_pillar.dankyo"))%>

    <%= raw display_month_pillar_relation(meishiki, "gekku?", I18n.t("activerecord.attributes.meishiki_pillar.gekku"))%>

    <%= raw display_month_pillar_relation(meishiki, "ekiba?", I18n.t("activerecord.attributes.meishiki_pillar.ekiba"))%>

    <%= raw display_month_pillar_relation(meishiki, "momon?", I18n.t("activerecord.attributes.meishiki_pillar.momon"))%>

    <%= raw display_month_pillar_relation(meishiki, "seiseiba?", I18n.t("activerecord.attributes.meishiki_pillar.seiseiba"))%>

  </table>