  <table>
    <%= raw display_pillar_relation(meishiki, "kangakubi?", I18n.t("activerecord.attributes.meishiki_pillar.year.kangakubi"))%>

    <%= raw display_pillar_relation(meishiki, "seijubi?", I18n.t("activerecord.attributes.meishiki_pillar.year.seijubi"))%>

    <%= raw display_pillar_relation(meishiki, "zaikobi?", I18n.t("activerecord.attributes.meishiki_pillar.year.zaikobi"))%>

    <%= raw display_pillar_relation(meishiki, "seitoukajitsu?", I18n.t("activerecord.attributes.meishiki_pillar.year.seitoukajitsu"))%>

    <%= raw display_pillar_relation(meishiki, "singinbi?", I18n.t("activerecord.attributes.meishiki_pillar.year.singinbi"))%>

    <%= raw display_pillar_relation(meishiki, "kigenbi?", I18n.t("activerecord.attributes.meishiki_pillar.year.kigenbi"))%>

    <%= raw display_pillar_relation(meishiki, "bougaibi?", I18n.t("activerecord.attributes.meishiki_pillar.year.bougaibi"))%>

    <%= raw display_pillar_relation(meishiki, "yousakubi?", I18n.t("activerecord.attributes.meishiki_pillar.year.yousakubi"))%>

    <%= raw display_pillar_relation(meishiki, "josakubi?", I18n.t("activerecord.attributes.meishiki_pillar.year.josakubi"))%>

    <%= raw display_pillar_relation(meishiki, "kaigou?", I18n.t("activerecord.attributes.meishiki_pillar.year.kaigou"))%>

    <%= raw display_pillar_relation(meishiki, "taihai?", I18n.t("activerecord.attributes.meishiki_pillar.year.taihai"))%>

  </table>