  <table>
    <%= raw display_pillar_relation(meishiki, "sinjin?", I18n.t("activerecord.attributes.meishiki_pillar.season.sinjin"))%>

    <%= raw display_pillar_relation(meishiki, "tensha?", I18n.t("activerecord.attributes.meishiki_pillar.season.tensha"))%>

    <%= raw display_pillar_relation(meishiki, "zahai?", I18n.t("activerecord.attributes.meishiki_pillar.season.zahai"))%>

    <%= raw display_pillar_relation(meishiki, "tenten?", I18n.t("activerecord.attributes.meishiki_pillar.season.tenten"))%>

    <%= raw display_pillar_relation(meishiki, "chiten?", I18n.t("activerecord.attributes.meishiki_pillar.season.chiten"))%>

    <%= raw display_pillar_relation(meishiki, "tensatsu?", I18n.t("activerecord.attributes.meishiki_pillar.season.tensatsu"))%>

    <%= raw display_pillar_relation(meishiki, "happu?", I18n.t("activerecord.attributes.meishiki_pillar.season.happu"))%>

    <%= raw display_pillar_relation(meishiki, "shihai?", I18n.t("activerecord.attributes.meishiki_pillar.season.shihai"))%>

    <%= raw display_pillar_relation(meishiki, "bouhai?", I18n.t("activerecord.attributes.meishiki_pillar.season.bouhai"))%>

    <%= raw display_pillar_relation(meishiki, "kajou?", I18n.t("activerecord.attributes.meishiki_pillar.season.kajou"))%>

    <%= raw display_pillar_relation(meishiki, "kakukaku?", I18n.t("activerecord.attributes.meishiki_pillar.season.kakukaku"))%>

    <%= raw display_pillar_relation(meishiki, "yokubon?", I18n.t("activerecord.attributes.meishiki_pillar.season.yokubon"))%>

    <%= raw display_pillar_relation(meishiki, "shinsui?", I18n.t("activerecord.attributes.meishiki_pillar.season.shinsui"))%>

    <%= raw display_pillar_relation(meishiki, "shogun?", I18n.t("activerecord.attributes.meishiki_pillar.season.shogun"))%>

  </table>