<%- model_class = ExtMeishiki -%>

<%= simple_form_for @ext_meishiki, :html => {:class => 'form-horizontal'} do |f| %>

  <% if @ext_meishiki.cur_sekki_exists? %>
    <dt><%= model_class.human_attribute_name(:cur_sekki_date) %>:</dt>
    <dd><%= @ext_meishiki.cur_sekki_date %></dd>
    <%= f.input :cur_sekki_date, :as => :hidden %>
  <% else %>
    <%= f.input :cur_sekki_date, :as => :datetimepicker %>
  <% end %>

  <% if @ext_meishiki.bef_sekki_exists? %>
    <dt><%= model_class.human_attribute_name(:bef_sekki_date) %>:</dt>
    <dd><%= @ext_meishiki.bef_sekki_date %></dd>
    <%= f.input :bef_sekki_date, :as => :hidden %>
  <% else %>
    <%= f.input :bef_sekki_date, :as => :datetimepicker %>
  <% end %>

  <% if @ext_meishiki.aft_sekki_exists? %>
    <dt><%= model_class.human_attribute_name(:aft_sekki_date) %>:</dt>
    <dd><%= @ext_meishiki.aft_sekki_date %></dd>
    <%= f.input :aft_sekki_date, :as => :hidden %>
  <% else %>
    <%= f.input :aft_sekki_date, :as => :datetimepicker %>
  <% end %>

  <%= f.input :name, :as => :hidden %>
  <%= f.input :sex, :as => :hidden %>
  <%= f.input :birthday, :as => :hidden %>
  <%= f.input :meikyu, :as => :hidden %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                meishikis_path, :class => 'btn' %>
  </div>
<% end %>
