<%= simple_form_for @meishiki, :html => {:class => 'form-horizontal'} do |f| %>

  <% if @meishiki.sekki.nil? %>
    <%= f.input :sekki, :as => :datetimepicker, :start_year => Date.today.year - 90 %>
  <% else %>
    <dt><%= model_class.human_attribute_name(:cur_sekki) %>:</dt>
    <dd><%= @meishiki.cur_sekki.date %></dd>
  <% end %>

  <% if @meishiki.bef_sekki.nil? %>
    <%= f.input :bef_sekki, :as => :datetimepicker, :start_year => Date.today.year - 90 %>
  <% else %>
    <dt><%= model_class.human_attribute_name(:bef_sekki) %>:</dt>
    <dd><%= @meishiki.bef_sekki.date %></dd>
  <% end %>

  <% if @meishiki.aft_sekki.nil? %>
    <%= f.input :aft_sekki, :as => :datetimepicker, :start_year => Date.today.year - 90 %>
  <% else %>
    <dt><%= model_class.human_attribute_name(:aft_sekki) %>:</dt>
    <dd><%= @meishiki.aft_sekki.date %></dd>
  <% end %>

  <%= f.input :name, :as => :hidden %>
  <%= f.input :sex, , :as => :hidden %>
  <%= f.input :birthday, , :as => :hidden %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                meishikis_path, :class => 'btn' %>
  </div>
<% end %>
