<%= form_for(@meishiki, :url=>{:action=>'update_sekki'}) do |f| %>
  <!-- ID -->
  <%= f.hidden_field :id %>
  <!-- 氏名 -->
  <%= f.hidden_field :name %>

  <!-- 性別 -->
  <%= f.hidden_field :sex %>

  <!-- 年月日時 -->
  <%= f.hidden_field :year %>
  <%= f.hidden_field :month %>
  <%= f.hidden_field :day %>
  <%= f.hidden_field :time %>
    	   
  <!-- メモ -->
  <%= f.hidden_field :memo %>

  <table border=1>
    <tr>
      <th></th>
      <th>年</th>
      <th>月</th>
      <th>日</th>
      <th>時</th>
      <th>分</th>
    </tr>
    <tr>
      <th>入り日</th>
      <% if @sekki.getCurIri == nil then %>
        <td>
         <%= hidden_field_tag 'cur[year]',@meishiki.year %>
         <%= @meishiki.year %>
        </td>
        <td>
         <%= hidden_field_tag 'cur[month]',@meishiki.month %>
         <%= @meishiki.month %>
        </td>
        <td>
         <%= number_field_tag 'cur[day]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'cur[hour]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'cur[minute]', :maxlength=>2,:size=>2 %>
        </td>
      <% else %>
        <td>
         <%= @sekki.getCurIri.year %>
        </td>
        <td>
         <%= @sekki.getCurIri.month %>
        </td>
        <td>
         <%= @sekki.getCurIri.day %>
        </td>
        <td>
         <%= @sekki.getCurIri.hour %>
        </td>
        <td>
         <%= @sekki.getCurIri.minute %>
        </td>
      <% end %>
    </tr>
    <tr>
      <th>前入り日</th>
      <% if @sekki.getBefIri == nil then %>
        <td>
         <%= hidden_field_tag 'bef[year]',@sekki.getBefDate.year %>
         <%= @sekki.getBefDate.year %>
        </td>
        <td>
         <%= hidden_field_tag 'bef[month]',@sekki.getBefDate.month %>
         <%= @sekki.getBefDate.month %>
        </td>
        <td>
         <%= number_field_tag 'bef[day]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'bef[hour]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'bef[minute]', :maxlength=>2,:size=>2 %>
        </td>
      <% else %>
        <td>
         <%= @sekki.getBefIri.year %>
        </td>
        <td>
         <%= @sekki.getBefIri.month %>
        </td>
        <td>
         <%= @sekki.getBefIri.day %>
        </td>
        <td>
         <%= @sekki.getBefIri.hour %>
        </td>
        <td>
         <%= @sekki.getBefIri.minute %>
        </td>
      <% end %>
    </tr>
    <tr>
      <th>後入り日</th>
      <% if @sekki.getAftIri == nil then %>
        <td>
         <%= hidden_field_tag 'aft[year]',@sekki.getAftDate.year %>
         <%= @sekki.getAftDate.year %>
        </td>
        <td>
         <%= hidden_field_tag 'aft[month]',@sekki.getAftDate.month %>
         <%= @sekki.getAftDate.month %>
        </td>
        <td>
         <%= number_field_tag 'aft[day]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'aft[hour]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'aft[minute]', :maxlength=>2,:size=>2 %>
        </td>
      <% else %>
        <td>
         <%= @sekki.getAftIri.year %>
        </td>
        <td>
         <%= @sekki.getAftIri.month %>
        </td>
        <td>
         <%= @sekki.getAftIri.day %>
        </td>
        <td>
         <%= @sekki.getAftIri.hour %>
        </td>
        <td>
         <%= @sekki.getAftIri.minute %>
        </td>
      <% end %>
    </tr>
    <% if @sekki.getYearIri == nil then %>
    <tr>
      <th>年の入り日</th>
        <td>
         <%= hidden_field_tag 'year[year]',@meishiki.year %>
         <%= hidden_field_tag 'year[month]',2 %>
         <%= @meishiki.year %>
        </td>
        <td>
        </td>
        <td>
         <%= number_field_tag 'year[day]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'year[hour]', :maxlength=>2,:size=>2 %>
        </td>
        <td>
         <%= number_field_tag 'year[minute]', :maxlength=>2,:size=>2 %>
        </td>
    </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
