<%- model_class = Meishiki -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<table>
  <tr>
    <td colspan=2>
      <%= render :partial => 'base_param', :locals => { :meishiki => @meishiki} %>
    </td>
    <td rowspan=3>
      <%= image_tag url_for(:action => 'image', :id => @meishiki.id) %>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <%= render :partial => 'assist_param', :locals => { :meishiki => @meishiki} %>
    </td>
  </tr>
  <tr>
    <td>
        <%= render :partial => 'meishiki', :locals => { :meishiki => @meishiki} %>
    </td>
    <td valign="top">
      <%= render :partial => 'kangou', :locals => { :meishiki => @meishiki} %>
    </td>
  <tr>
  </tr>
    <td/>
    <td valign="top">
      <%= render :partial => 'shigou', :locals => { :meishiki => @meishiki} %>
    </td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_meishiki_path(@meishiki), :class => 'btn' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              meishikis_path, :class => 'btn' %>
</div>