  <table>
    <%= raw display_pillar_relation(meishiki, "tentoku_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.month.tentoku_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "tentoku_gou?", I18n.t("activerecord.attributes.meishiki_pillar.month.tentoku_gou"))%>

    <%= raw display_pillar_relation(meishiki, "gettoku_kijin?", I18n.t("activerecord.attributes.meishiki_pillar.month.gettoku_kijin"))%>

    <%= raw display_pillar_relation(meishiki, "gettoku_gou?", I18n.t("activerecord.attributes.meishiki_pillar.month.gettoku_gou"))%>

    <%= raw display_pillar_relation(meishiki, "kagai?", I18n.t("activerecord.attributes.meishiki_pillar.month.kagai"))%>

    <%= raw display_pillar_relation(meishiki, "tenmou?", I18n.t("activerecord.attributes.meishiki_pillar.month.tenmou"))%>

    <%= raw display_pillar_relation(meishiki, "chimou?", I18n.t("activerecord.attributes.meishiki_pillar.month.chimou"))%>

    <%= raw display_pillar_relation(meishiki, "byakui?", I18n.t("activerecord.attributes.meishiki_pillar.month.byakui"))%>

    <%= raw display_pillar_relation(meishiki, "kessi?", I18n.t("activerecord.attributes.meishiki_pillar.month.kessi"))%>

    <%= raw display_pillar_relation(meishiki, "dankyo?", I18n.t("activerecord.attributes.meishiki_pillar.month.dankyo"))%>

    <%= raw display_pillar_relation(meishiki, "gekku?", I18n.t("activerecord.attributes.meishiki_pillar.month.gekku"))%>

    <%= raw display_pillar_relation(meishiki, "ekiba?", I18n.t("activerecord.attributes.meishiki_pillar.month.ekiba"))%>

    <%= raw display_pillar_relation(meishiki, "momon?", I18n.t("activerecord.attributes.meishiki_pillar.month.momon"))%>

    <%= raw display_pillar_relation(meishiki, "seiseiba?", I18n.t("activerecord.attributes.meishiki_pillar.month.seiseiba"))%>

  </table>