<h1>一覧</h1>

<table border=1>
  <tr>
    <th><%= I18n.t("activerecord.attributes.relation.name") %></th>
    <th><%= I18n.t("activerecord.attributes.relation.name") %></th>
    <th><%= I18n.t("activerecord.attributes.relation.description") %></th>
    <th><%= I18n.t("activerecord.attributes.relation.function") %></th>
    <th></th>
    <th></th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td class="mr10"><%= relation.code %></td>
    <td class="mr10"><%= link_to relation.name, relation  %></td>
    <td class="mr10"><%= relation.description %></td>
    <td class="mr10"><%= relation.function %></td>
    <td class="mr10"><%= link_to 'Edit', edit_relation_path(relation) %></td>
    <td class="mr10"><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br>
<% @relations.each do |relation| %>
    <%= relation.id %>,<%= relation.name  %>,"<%= relation.description %>",<%= relation.function %><br>
<% end %>

<br />

<br>
<% @junishi_relations.each do |junishi_relation| %>
    <%= junishi_relation.relation_code  %>,<%= junishi_relation.junishi_code  %><br>
<% end %>

<%= link_to 'New Relation', new_relation_path %>
